meta(charset="utf-8")

title= "DomKomf"
base(href="/")
meta(name="referrer", content="no-referrer")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="DomKomf")
meta(name="keywords", content="DomKomf")
meta(name="robots", content="index, follow")
meta(property="og:title", content="DomKomf")
meta(property="og:description", content="")
meta(property="og:url", content="http://test.ru/")
meta(property="og:type", content="website")
meta(property="og:image", content="/img/image.jpg")
meta(property="og:locale", content="ru_RU")
link(rel="icon", sizes="16x16", href="/favicon16.png")
link(rel="icon", sizes="32x32", href="/favicon32.png")
link(rel="icon", sizes="64x64", href="/favicon64.png")
link(rel="apple-touch-icon-precomposed", href="/img/image-180x180.jpg")
meta(name="msapplication-TileImage", content="/img/image-270x270.jpg")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800,900&display=swap&subset=cyrillic", media="all")