.top-menu
  .top-menu__row._container._row
    a.top-menu__logo-box.link(href="#stretch-ceiling" rel="tag")
      img.top-menu__logo(src=require("../../svg/logo.svg") alt="Натяжные потолки")
    .top-menu__phone-box
      a.link.top-menu__phone(href="tel:+79789786630") +7 (978) 978-66-30
    .top-menu__button-box
      label.button(for="modal-close") Заказать