.anchor#about
.about
  ._container._row
    ._col-12._col-sm-6._col-lg-4._p-n
      article.about__item._row
        .about__icon-box._col-12
          .about__icon.icon-hammer-wrench
        h5.about__title._col-12
          | Современные технологии
        .about__text._col-12
          | Мы используем новейшие технологии крепления для создания уюта в Вашем доме.
    ._col-12._col-sm-6._col-lg-4._p-n
      article.about__item._row
        .about__icon-box._col-12
          .about__icon.icon-apartment
        h5.about__title._col-12
          | Большой выбор
        .about__text._col-12
          | Индивидуальный подбор фактур и цвета в большом ассортименте.
    ._col-12._col-sm-6._col-lg-4._p-n
      article.about__item._row
        .about__icon-box._col-12
          .about__icon.icon-pencil-ruler
        h5.about__title._col-12
          | Качественные материалы
        .about__text._col-12
          | Качественные материалы являются абсолютной гарантией надежного монтажа.
    ._col-12._col-sm-6._col-lg-4._p-n
      article.about__item._row
        .about__icon-box._col-12
          .about__icon.icon-coin-dollar
        h5.about__title._col-12
          | Доступные цены
        .about__text._col-12
          | В Grand Comfort мы предоставляем все наши услуги и решения по вполне разумным ценам.
    ._col-12._col-sm-6._col-lg-4._p-n
      article.about__item._row
        .about__icon-box._col-12
          .about__icon.icon-users2
        h5.about__title._col-12
          | Специалисты установки
        .about__text._col-12
          | Мы устанавливаем натяжные потолки по всему Крыму более 6 лет.
    ._col-12._col-sm-6._col-lg-4._p-n
      article.about__item._row
        .about__icon-box._col-12
          .about__icon.icon-headset
        h5.about__title._col-12
          | Поддержка 24/7
        .about__text._col-12
          | Клиенты получают полную круглосуточную поддержку и консультацию.