.anchor#duration
section.duration.lazy-bg
  ._container._row._s
    ._col-sm-7._col-md-6._col-lg-5._offset-sm-5._offset-md-6._offset-lg-7
      h4.duration__caption
        | Натяжные потолки Крым
      .duration__text
        | Поможем создать уютный интерьер
      .duration__button-box
        label.button(for="modal-close") Подобрать