.anchor#gallery
section.gallery._row
  h3.gallery__caption._col-12
    | Технологии натяжных потолков
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="2yr" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i1
      .gallery__hover Посмотреть
    h5.gallery__text
      | двухуровневые
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="bezsh" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i2
      .gallery__hover Посмотреть
    h5.gallery__text
      | безщелевые
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="contr" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i3
      .gallery__hover Посмотреть
    h5.gallery__text
      | контурные
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="double" data-content="1.jpg,2.jpg,4.mp4")
    .gallery__img-box
      .gallery__img.lazy-bg._i4
      .gallery__hover Посмотреть
    h5.gallery__text
      | double vision
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="line" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i5
      .gallery__hover Посмотреть
    h5.gallery__text
      | световые линии
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="par" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i6
      .gallery__hover Посмотреть
    h5.gallery__text
      | парящие
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="photo" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i7
      .gallery__hover Посмотреть
    h5.gallery__text
      | фотопечать
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="pk5" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i8
      .gallery__hover Посмотреть
    h5.gallery__text
      | ниша пк5
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="polu" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i9
      .gallery__hover Посмотреть
    h5.gallery__text
      | световые
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="ppoz" data-content="1.jpg,2.jpg,3.jpg,4.mp4")
    .gallery__img-box
      .gallery__img.lazy-bg._i10
      .gallery__hover Посмотреть
    h5.gallery__text
      | противопожарные
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="ten" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i11
      .gallery__hover Посмотреть
    h5.gallery__text
      | теневые
  article.gallery__item._col-12._col-sm-6._col-lg-4._col-xxl-3(data-path="tkan" data-content="1.jpg,2.jpg,3.jpg")
    .gallery__img-box
      .gallery__img.lazy-bg._i12
      .gallery__hover Посмотреть
    h5.gallery__text
      | тканевый