.anchor#stretch-ceiling
header.header
  .swiper-container.header__swiper
    .header__parallax-bg(data-swiper-parallax-duration="700" data-swiper-parallax-scale="1.3")
    .swiper-wrapper._s
      .swiper-slide.header__slide.swiper-slide-active
        ._container._row(data-swiper-parallax-x="-100%" data-swiper-parallax-duration="700")
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            h1.header__caption
              | Натяжные потолки Симферополь
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            .header__text
              | Только сертифицированные материалы и&nbsp;гарантия на&nbsp;работы
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            label.button(for="modal-close") Заказать
      .swiper-slide.header__slide
        ._container._row(data-swiper-parallax-x="-100%" data-swiper-parallax-duration="700")
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            .header__caption.body0
              | Большой выбор натяжных потолков
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            .header__text
              | Разнообразие цветов и фактур не оставит Вас равнодушными
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            label.button(for="modal-close") Купить
      .swiper-slide.header__slide
        ._container._row(data-swiper-parallax-x="-100%" data-swiper-parallax-duration="700")
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            .header__caption.body0
              | Современные технологии установки
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            .header__text
              | Легко. Быстро. Надежно.
          ._col-12._col-sm-9._col-md-8._col-xl-6._offset-lg-1
            label.button(for="modal-close") Заказать
    .swiper__btn-prev.icon-arrow-left#header-prev
    .swiper__btn-next.icon-arrow-left#header-next
    .swiper-pagination.swiper__pagination#header-pagination