.anchor#materials
section.materials._pbig
  ._container._row
    ._col-12._col-md-8._col-lg-6._col-xl-5._ptb-n.materials__top
      h3.materials__caption Наши материалы
      .materials__text
        | Мы используем только качественные материалы от проверенных производителей.
    ._col-12._col-lg-6._col-xl-7._ptb-n.materials__bot
      ._col-12._row._p-n.materials__logo-box
        ._col-12._col-sm-6.materials__logo._i1
        ._col-12._col-sm-6.materials__logo._i2
        ._col-12._col-sm-6.materials__logo._i3
        ._col-12._col-sm-6.materials__logo._i4
        ._col-12._col-sm-6.materials__logo._i5
        ._col-12._col-sm-6.materials__logo._i6