.anchor#textures
section.textures._container._row._pbig
  h3.textures__caption._col-12
    | Фактуры натяжных потолков
  ._col-12._col-md-6._col-lg-4
    article.textures__item
      .textures__image.lazy-bg._i1
      .textures__text-box
        h5.textures__title
          | Глянцевые
        .textures__text
          | Благодаря отражающим эффектам визуально придает помещению дополнительный объем.
  ._col-12._col-md-6._col-lg-4
    article.textures__item
      .textures__image.lazy-bg._i2
      .textures__text-box
        h5.textures__title
          | Матовые
        .textures__text
          | Имеют шероховатую поверхность, что является отличной альтернативой крашенного потолка.
  ._col-12._col-md-6._col-lg-4
    article.textures__item
      .textures__image.lazy-bg._i3
      .textures__text-box
        h5.textures__title
          | Сатиновые
        .textures__text
          | Обладают гладкой, перламутровой  поверхностью с небольшим блеском, напоминая тканевые натяжные потолки.
  ._col-12._col-md-6._col-lg-4
    article.textures__item
      .textures__image.lazy-bg._i4
      .textures__text-box
        h5.textures__title
          | Тканевые
        .textures__text
          | Идеальный белый цвет, высочайшая прочность, полная защита от воды, противопожарные и экологичные свойства.
  ._col-12._col-md-6._col-lg-4
    article.textures__item
      .textures__image.lazy-bg._i5
      .textures__text-box
        h5.textures__title
          | Фактурные
        .textures__text
          | Наличие однотонного рельефного рисунка напоминает декоративную штукатурку или фактурную ткань.