@import "vars";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 320px;
  min-height: 320px;
  margin: 0 auto;
  font-family: $default-font;
  font-weight: 400;
  color: $p-text-color;
}

.wrap-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding-top: 60px;
  box-sizing: border-box;
}

.main {
  position: relative;
}

.footer {
  flex: 0 0 auto;
}

.link {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: $p-text-color;
  font-weight: 400;
  transition: all .7s ease;
  &._s {
    color: $s-text-color;
  }
  &:hover,
  &:active,
  &:focus,
  &._active {
    color: $p-active-color;
    cursor: pointer;
  }
}

.anchor {
  width: 0;
  height: 0;
  transform: translateY(-60px);
}

._ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6, .body0  {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h1, .body0 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
  text-align: center;
}

h5 {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.3;
  letter-spacing: .05em;
}

h5 {
  font-size: 1.25rem;
  text-transform: none;
  letter-spacing: .05em;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
}

img	{
  display: block;
}

strong {
  font-weight: 700;
}

video {
  width:100%;
  max-width: 100%;
  max-height: 100%;
  background-color:#000
}

.button,
.input {
  width: 100%;
  max-width: 230px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  border: none;
  padding: 5px 8px;
  border-radius: 0;
  text-align: center;
  font-size: 1.125rem;
  outline: none;
  box-sizing: border-box;
  transition: all .7s ease;
}

.button {
  align-items: center;
  font-weight: 900;
  color: $s-text-color;
  background-color: $p-active-color;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  &:focus, &:active, &:hover {
    color: $p-text-color;
    background-color: $s-active-color;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }
  &._s {
    color: $p-text-color;
    background-color: $background-color;
    &:focus, &:active, &:hover {
      color: $s-text-color;
      background-color: $p-active-color;
    }
  }
  &:disabled,
  &:disabled:before {
    background-color: #c7c7c7;
    color: #fff;
  }
}

.input {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid $p-active-color;
  &._s {
    color: $background-color;
    border-color: $background-color;
  }
  &:invalid:not(:placeholder-shown),
  &._error {
    background-color: rgba(255, 117, 117, 0.8);
  }
  &:focus + label,
  &:valid:not(:placeholder-shown) + label {
    right: auto;
    font-size: 0;
  }
}

@keyframes animbtn {
  30% {
    transform: scale(1.2);
  }
  35% {
    transform: scale(1);
  }
  55% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(15deg);
  }
  65% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(15deg);
  }
  85% {
    transform: rotate(0deg);
  }
}

.button-top,
.button-phone {
  position: fixed;
  z-index: 99;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: $p-active-color;
  &:hover,
  &:active,
  &:focus {
    transform: scale(1.2);
  }
}

.button-phone {
  bottom: 90px;
  animation: animbtn 3s ease-in-out infinite;
}

._p {
  color: $p-text-color;
}

._s {
  color: $s-text-color;
}

@import "grid";

.check {
  display: none;
  &:checked+.check-label:before {
    background-image: url(../svg/check.svg);
  }
}
.check-label {
  position: relative;
  padding-left: 45px;
  &:before {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $p-active-color;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
  }
}

.modal {
  display:flex;
  position:fixed;
  z-index:101;
  top:0;
  left:0;
  right:0;
  bottom:0;
  align-items:center;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity .3s ease;
  &__checkbox {
    display:none
  }
  &__checkbox:checked+& {
    transform: translateX(0);
    opacity: 1;
  }
  &__form-box {
    max-width:450px;
    margin:auto;
    background-color: $background-color;
    border-radius: 30px;
  }
  &__bg {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.6)
  }
  &__close {
    position:absolute;
    z-index: 102;
    top:15px;
    right:15px;
    width:60px;
    height:60px;
    border-radius:50%;
    background-color: $p-active-color;
    background-image: url(../img/close.png);
    background-repeat:no-repeat;
    background-position:50%;
    cursor: pointer;
  }
  &__label-box {
    width: 100%;
    font-size: 0.875rem;
    padding: 15px 15px 23px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__label {
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__slide {
    min-height: 40vw;
    display: flex;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
    & ._container {
      position: relative;
      height: 100%;
      opacity: 0;
    }
    & ._col-12 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__button,
  &__input {
    max-width: 100%;
  }
  &__caption {
    padding: 15px 15px 7px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    padding: 5px 15px;
    text-align: center;
  }
}
.swiper {
  &-wrapper {
    align-items: center;
  }
  &__btn-prev,
  &__btn-next {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 80px;
    height: 72px;
    padding-right: 10px;
    transition: all .3s ease;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.2);
      transform-origin: bottom right;
      transform: skew(10deg);
      transition: all .3s ease;
    }
    &:before {
      position: relative;
      z-index: 6;
      font-size: 2rem;
      color: $p-active-color;
      transition: all .3s ease;
    }
    &:hover,
    &:active,
    &:focus {
      height: 100px;
      width: 100px;
      &:after {
        background-color: $s-active-color;
      }
      &:before {
        color: $p-text-color;
      }
    }
  }
  &__btn-prev {
    left: 0;
    transform: translateY(-50%);
  }
  &__btn-next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    &:before {
      transform-origin: top left;
      transform: skew(-10deg) translateY(-15%);
    }
  }
  &__pagination {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
  }
  &-pagination-bullet {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #fff;
    opacity: 1;
    margin: 0 15px !important;
    transition: all .3s ease;
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: $p-active-color;
      transform: translate(-50%, -50%);
      transition: all .3s ease;
    }
  }
  &-pagination-bullet-active {
    border-color: $p-active-color !important;
    &:before {
      width: 10px;
      height: 10px;
      background-color: $p-active-color;
    }
  }
}

.lazy-bg {
  background-color: rgba(0, 0, 0, 0.3);
}

@import "layout/main";
@import "media";